* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bulma-body-overflow-y: auto;
}
/*********/
/* FONTS */
/*********/
.edu-tas-beginner {
  font-family: "Edu TAS Beginner", cursive;
  font-weight: normal;
  font-style: normal;
}

.sometype-mono {
  font-family: "Sometype Mono", monospace;
  font-weight: normal;
  font-style: italic;
}

/*******************/
/* Utility Classes */
/*******************/
.d-none{
  display:none;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap-wrap {
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}
.align-items-start {
  align-items: start;
}

.fw-bold {
  font-weight: bold;
}
/****************/
/* Tag Classes */
/***************/
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper > .header {
  display:flex;
  align-items:center;
  justify-content:center;
  position:sticky;
  top:0;
  z-index:99;
  min-height:15vh;
  background-image: URL("../img/wall.png");
  flex-grow: 0;
  color: black;
}
.wrapper > .main {
  background-image: URL("../img/cork.png");
  flex-grow: 1;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 30px;
}
main .columns.polaroid-wall {
  margin-bottom: 0;
  row-gap: 3rem;
  padding: 2rem 6rem;
  flex-wrap: wrap;
}
.polaroid-wrapper {
  margin: 2rem auto;
  max-width: 700px;
}
.polaroid {
  position:relative;
  min-width:100%;
  margin: 0 auto;
  max-width: fit-content;
  padding: 1rem 2rem;
  background-color: white;
  color: black;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

.polaroid-image {
  max-width: 600px;
  aspect-ratio: 1;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.polaroid-image-wrapper::before {
  position: absolute;
  vertical-align:-50px;
  top: 0;
  left: 50%;
  translate: -50% -50%;
  content: URL(../img/pin.svg);
  aspect-ratio:1;
  transition: scale 0.5s ease;
}

.polaroid:hover{
  scale:1.025;
  box-shadow:15px 15px 15px rgba(0, 0, 0, 0.5);
  transform-origin:top;
  animation: 2s ease-in-out 1 rotation;
  z-index:2;
  border: 1px solid black;
}
.polaroid:hover .polaroid-image-wrapper::before {
  scale:1.2;
}


/**************/
/* ANIMATIONS */
/**************/
@keyframes rotation {
  0% {
    transform:rotate(0deg);
  }
  20% {
    transform:rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(0deg);
  }
}


/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (min-width: 768px) {
  .polaroid-wrapper {
    margin: 0;
  }
}
@media screen and (min-width: 2600px) {
  .is-ultrawide {
    flex: none !important;
    width: calc(100% / 4) !important;
  }
}
@media screen and (min-width: 3000px) {
  .is-ultrawide {
    flex: none !important;
    width: calc(100% / 6) !important;
  }
}