* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bulma-body-overflow-y: auto;
}
/*********/
/* FONTS */
/*********/
.edu-tas-beginner {
  font-family: "Edu TAS Beginner", cursive;
  font-weight: normal;
  font-style: normal;
}

.sometype-mono {
  font-family: "Sometype Mono", monospace;
  font-weight: normal;
  font-style: normal;
}

/*******************/
/* Utility Classes */
/*******************/
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap-wrap {
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}
.align-items-start {
  align-items: start;
}

.fw-bold {
  font-weight: bold;
}
/****************/
/* Tag Classes */
/***************/
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper > .header {
  background-image: URL("../img/wall.png");
  flex-grow: 0;
  color: black;
}
.wrapper > .main {
  background-image: URL("../img/cork.png");
  flex-grow: 1;
}
h1 {
  font-size: 60px;
}
main .columns.polaroid-wall {
  margin-bottom: 0;
  row-gap: 3rem;
  padding: 2rem 6rem;
  flex-wrap: wrap;
}
.polaroid-wrapper {
  margin: 2rem auto;
}
.polaroid {
  margin: 0 auto;
  max-width: fit-content;
  position: relative;
  padding: 1rem 2rem;
  background-color: white;
  color: black;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.polaroid-image {
  max-width: 600px;
  aspect-ratio: 1;
  width: 100%;
}

.polaroid-image-wrapper::before {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -30%;
  content: URL(../img/pin.svg);
}

@media screen and (min-width: 768px) {
  .polaroid-wrapper {
    margin: 0;
  }
}
@media screen and (min-width: 3300px) {
  .is-2-ultrawide {
    flex: none !important;
    width: calc(100% / 6) !important;
  }
}
